{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Price Alert Pit</h1>
        <p class="lead">We scan online store websites to alert you of price drops in item that interes you.</p>
        <hr class="my-4"/>
        <p>Just sing up, and get started by adding the URL of an item that you wish to track. We'll do the rest!</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('users.register_get') }}">Get Started</a>
    </div>
{% endblock %}