{% extends "base.html" %}

{% block content %}
    <header><h1>Create Store</h1></header>
    <section class="create-store-form">
        <form method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Jhon Lewis"/>
        </div>
            <div class="form-group">
                <label for="url_prefix">URL Prefix</label>
                <input type="text" class="form-control" id="url_prefix" name="url_prefix" placeholder="https://...">
                <small id="url"  class="form-text text-muted">
                    What URL will allits items start with?
                </small>
            </div>

            <div class="form-group">
                <label for="tag_name">Tag Name</label>
                <input type="text" class="form-control" id="tag_name" name="tag_name" placeholder="span">
                <small id="tag_name" class="form-text text-muted">
                        Enter HTML tag of the item that contains the price
                </small>
            </div>

            <div class="form-group">
            <label for="query">HTML Query</label>
            <input type="text" class="form-control" id="query" name="query" placeholder='{"class": "price_price--large"}'>
                <small id="query" class="form-text text-muted">
                    Under which price of the item would you like to get notified?
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </section>
{% endblock %}